altgraph==0.16.1
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
future==0.17.1
idna==2.8
jdcal==1.4.1
kiwisolver==1.1.0
macholib==1.11
matplotlib==3.0.3
numpy==1.16.4
pefile==2019.4.18
PyInstaller==3.4
pykep==2.3
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
tkcalendar==1.4.0
urllib3==1.26.5
